body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */


/* INTRO */
.kaart {
    height: 480px;
    width: 480px;
    float: left;
    padding: 5px;
}


/* concurentie */
.urlwebsite {
    background: black;
    color: white;
}

.rozetitel {
    color: black;
    background-color: hsl(332, 55%, 58%);
}

.stiftfestival {
    display: flex;
    flex-direction: column;
}

.hapfestival {
    display: flex;
    flex-direction: column;
    padding-left: 300px;
}

.rockwerchter {
    display: flex;
    flex-direction: column;
    padding-left: 600px;
}

.lijsten {
    background: rgb(228, 228, 228);
    width: 360px;
}

.concurentiebg {
    background: white;
}


/* scenario */
.scenario {
    background: rgb(236, 235, 235);
    padding: 15px;
}

.oplossingscenarios {
    color: black;
    font-size: 12px;
}

.foto-oma {
    float: left;
    height: auto;
    width: 150px;
    padding: 10px;
}

h3 {
    color:grey; 
}

/* digital styleguide */

.kleur1 {
    background-color: rgb(207, 90, 144);
    background-size: 40px 40px;
    padding:5px;
    color:white;
    border-right: 400px;
}

.kleur2 {
    background-size: 40px 40px;
    background-color: rgb(101, 36, 106);
    padding: 5px;
    color:white;
}

.kleur3 {
    background-size: 40px 40px;
    background-color: rgb(130,35,107);
    padding: 5px;
    color:white;
}

.kleur4 {
    background-size: 40px 40px;
    background-color: rgb(230,89,113);
    padding: 5px;
    color:white;
}

.kleur5 {
    background-size: 15px 15px;
    background-color: rgb(219,112,109);
    padding: 5px;
    color:white;
}

.kleur6 {
    background-size: 40px 40px;
    background-color: rgb(79,40,55);
    padding: 5px;
    color:white;
}

.kleur7 {
    background-size: 40px 40px;
    background-color: rgb(197,70,59);
    padding: 5px;
    color:white;
}

.kleur8 {
    background-size: 40px 40px;
    background-color: rgb(108,17,40);
    padding: 5px;
    color:white;
}

.kleur9 {
    background-size: 40px 40px;
    background-color: rgb(143,23,42);
    padding: 5px;
    color:white;
    
}

.kleur10 {
    background-size: 40px 40px;
    background-color: rgb(225,96,62);
    padding: 5px;
    color:white;
}

.lettertype1 {
    font-family: 'Karla', sans-serif;
}

.homeknop {
    height: 24px;
    width: 60px;
    color:white;
    background-color: pink;
    text-align: center;
}